<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>predict</title>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">

    <title>Profile</title>


</head>
<body>
{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}


{% endblock %}
</body>
</html>
